body{
	font-family: robotoslab ,monospace, sans-serif, serif;
    margin: 0;
    padding: 0;
}

.backgroundlayer{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    z-index: -1;
    background: url('../pic/bg.jpg') #ffefa7;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.scaleup{ /* this class is added using javascript (element.classList.toggle('name')). called when the mic button is clicked */
    /*this will increase the size of the background*/
    transform: scale(1.2);
    
    /*for other browsers if the above code doesn't work*/ 
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2); 
}
.scaledown{
    transform: scale(.9); 
    -webkit-transform: scale(.9); 
    -moz-transform: scale(.9); 
}

@font-face{
    font-family: 'robotoslab';
    src: url('../fonts/roboto.ttf');
}

.blue{
    background: skyblue;
}

.red{
    background: orange;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chordname{
    font-size: 5em;
    margin: 0;
    top: -30px;
    position: relative;
    margin-bottom: 20px;
}

.container{
    width: 35%;
    background: rgba(255,239,168,.7);
    border-radius: 20px;
    padding: 80px 0px 60px 0px;
    text-align: center;
    box-shadow: 0 0 25px 5px rgba(0,0,0,.6);
    height: 400px;
    transition: 1s ease; /*smoothen the transistion in 1 second duration*/
}

.title{
    position: relative;
    top: -20px;
    color: white;
}

.center {
	border-radius: 50%;
	width: 130px;
	height: 130px;
    padding: 15px;
	border: none;
	cursor: pointer;
	background-color: #61b0db;
}

.center:hover{
	opacity: .9;
}

#mic{
	height: 100px;
}
.micdisappear{
    display: none;
}

#guitar{
	height: 90px;
    position: relative;
}

/*
.piano{
	height: 90px;
	display: inline-flex;
    max-width: 100%;
    position: absolute;
    bottom:7rem;
    left:50%;
    transform:translateX(-50%);
    background: url(p.png);
}*/


/* responsive container*/
@media screen and (max-width: 1024px) {
  .container{
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .container {
    width: 70%;
  }
}
@media screen and (max-width: 820px) {
  .container {
    width: 90%;
  }
}